<section class="auth-section">
  <div class="left-auth__section">
    <a href="#" class="logo-front">
      <img src="/assets/Svg/logo.svg" />
    </a>
    <div class="section-content ui-auth-img__bg ui-use-register__bg"></div>
    <!-- <div class="bottom-section-content">
            <h1>Are you a Teacher or a student?</h1>
            <a href="/u/member-login" class="ui-link">Use this portal instead <ion-icon name="arrow-forward-circle-outline"></ion-icon></a>
        </div> -->
  </div>
  <div class="main-auth__section">
    <div class="auth-form ui-box-sh">
      <div class="top-auth-form auth-container">
        <h2>Add User</h2>
        <!-- <p>
          Setting up an account is quick and straight-forward. Already signed
          up? <a href="/u/login">Log in</a>
        </p> -->
      </div>
      <hr />
      <form class="auth-container" method="POST" action="/u/add-user">
        <% if(error_msg != '') { %>
        <div class="ui-alert-danger">
          <p><%= error_msg %></p>
        </div>
        <% } %>

        <input type="hidden" name="customPayment" value="yes" />

        <div class="uk-margin">
          <select class="uk-select" name="role" required>
            <option value="">--Select Role--</option>
            <option value="District admin">District admin</option>
            <option value="School admin">School admin</option>
            <option value="Trial account">Trial account</option>
            <option value="Parent">Parent</option>
          </select>
        </div>

        <label class="uk-form-label"> Name</label>
        <input
          type="text"
          class="uk-input"
          placeholder="Enter fullname name"
          name="fullname"
          required
        />

        <label class="uk-form-label">Email</label>
        <input
          type="email"
          class="uk-input"
          placeholder="Enter email address"
          name="email"
          required
        />

        <label class="uk-form-label">Password</label>
        <input
          type="password"
          class="uk-input"
          placeholder="Enter password"
          name="password"
          required
        />

        <div>
          <!-- <p>
            <input class="uk-checkbox" type="checkbox" required /> I agree to
            the <a href="#">Terms of Service</a>
          </p> -->
          <button
            type="submit"
            class="uk-button uk-button-primary uk-width-1-1 uk-margin-top"
          >
            Create user account
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
